/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.cursorPointer {
  :hover {
    cursor: pointer;
  }
}

.fullWidth {
  width: 100%;
}
